body {
    max-width: 1024px;
    margin:auto;
    background-color: black;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
}

a {
    color: white;
}

figure {
    margin: 0;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.custom-wrapper {
    border-bottom: solid 1px rgb(200, 200, 200);
    max-width: 1024;
    height: 2em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
    font-size:110%;
    padding-top: 2em;
}

.custom-wrapper.open {
    height: 12em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 2em;
    right: .5em;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.rainbow {
    font-size:150%;
}

.rainbow .n {
    font-weight: bold;
    color: #3144ff;
}
.rainbow .e {
    font-weight: bold;
    color: #00bc3f;
}
.rainbow .x {
    font-weight: bold;
    color: #ffff00;
}
.rainbow .t {
    font-weight: bold;
    color: #ff0000;
}

.headline-title {
    margin:0em;
    text-decoration:none;
}

.headline-button {
    min-width:8em;
}

@media (max-width: 47.999em) {
    .custom-menu-3 {
        text-align: left;
    }
    .custom-toggle {
        display: block;
        top: 0.5em;
    }
    .custom-wrapper {
        padding-top: 0.5em;
    }
    .headline-title {
        font-size: 30vw;
    }
    .headline-message {
        font-size: 8vw;
    }
    .splash {
        padding-top:1em;
    }
    .feature {
        padding-top:4em;
    }
    .feature-message {
        font-size: 150%;
        margin-top: 0em;
    }
    .feature-description {
        font-size:100%;
    }
    .call-to-action-left {
        text-align:center;
    }
    .call-to-action-center {
        text-align:center;
    }
    .call-to-action-right {
        text-align:center;
    }
    .headline-button {
        font-size:100%;
        margin: .5em;
    }
}

@media screen and (min-width: 48em) {
    .headline-message {
        font-size: 600%;
    }
    .headline-title {
        font-size: 2275%;
    }
    .splash {
        padding-top:4em;
    }
    .feature {
        padding-top:12em;
    }
    .feature-message {
        font-size: 350%;
        margin-top: 0em;
    }
    .feature-description {
        font-size:120%;
    }
    .headline-button {
        font-size:140%;
        margin: .5em;
    }
    .call-to-action-left {
        text-align:right;
    }
    .call-to-action-center {
        text-align:center;
    }
    .call-to-action-right {
        text-align:left;
    }
}

.pure-menu-link {
    color: rgb(220, 220, 220);
}

.pure-menu-heading {
    text-transform:none;
    font-weight: bold;
}

.pure-menu-brand {
    text-transform:none;
    font-weight: bold;
    text-decoration:none;
}

.pure-menu-item {
    height: auto;
    text-transform: lowercase;
}

.download-button {
    margin-top:3em;
    margin-bottom:3em;    
    text-align:center;
    font-size:120%;
}

.download-platform {
    padding-bottom: 5em;
    display:block;
    margin:auto;
}

nav {
    padding-bottom: 1em;
}

img {
  max-width: 100%;
}

blink {
  -webkit-animation: blink 1.5s steps(5, start) infinite;
  -moz-animation:    blink 1.5s steps(5, start) infinite;
  -o-animation:      blink 1.5s steps(5, start) infinite; 
  animation:         blink 1.5s steps(5, start) infinite;
  font-size: 85%;
  color:16d41a;
}

.call-out {
    text-align:center;
}

@-webkit-keyframes blink {
  to { visibility: hidden; }
}
@-moz-keyframes blink {
  to { visibility: hidden; }
}
@-o-keyframes blink {
  to { visibility: hidden; }
}
@keyframes blink {
  to { visibility: hidden; }
}

.pure-menu-active>.pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover {
    background-color: #222;
}

.video {
    padding-top: 1em;
    padding-bottom: 3em;
}

.section {
    padding-bottom: 1.5em;
}

.post-button-call-to-action {
    min-width:10em;
    margin: .5em;
}

code {
    background-color: rgb(45, 45, 45);
}

.sourceCode {
    display:block;
    padding:0.25em;
}

p {
    line-height: 1.25em;
}
