.custom-wrapper {
    border-bottom: solid 1px white;
    max-width: 1024;
    color: white;
    height: 3.5em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
    line-height: 3em;
    font-size:110%;
}

.custom-wrapper.open {
    height: 20em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {
    .custom-menu-3 {
        text-align: left;
    }
    .custom-toggle {
        display: block;
    }
}

.splash {
    padding-top: 4em;
}

body {
    max-width: 1024;
    margin:auto;
    background-color: black;
    color: white;
}

.pure-menu-link {
    color: white;
}

.pure-menu-heading {
    text-transform:none;
    font-weight: bold;
}

.rainbow {
    font-size:150%;
}

.rainbow .n {
    font-weight: bold;
    color: fa1516;
}
.rainbow .e {
    font-weight: bold;
    color: fcfc17;
}
.rainbow .x {
    font-weight: bold;
    color: 16d41a;
}
.rainbow .t {
    font-weight: bold;
    color: fb16bb;
}

.pure-menu-item {
    height: auto;
    text-transform: lowercase;
}

.download-button {
    margin-top:3em;
    margin-bottom:3em;    
    text-align:center;
    font-size:120%;
}

.download-platform {
    display:block;
    margin:auto;
}

img {
  max-width: 100%;
}

blink {
  -webkit-animation: blink 1.5s steps(5, start) infinite;
  -moz-animation:    blink 1.5s steps(5, start) infinite;
  -o-animation:      blink 1.5s steps(5, start) infinite; 
  animation:         blink 1.5s steps(5, start) infinite;
  font-size: 85%;
  color:16d41a;
}

.call-out {
    text-align:center;
}

.headline-message {
    font-size: 300%;
}

.feature-message {
    font-size: 300%;
}

.feature-description {
    font-size:120%;
}

.feature {
    padding-top:1em;
    padding-bottom:10em;
}

.headline-button {
    font-size:140%;
    margin: .5em;
}

.footer-message {
    font-size: 200%;
}

@media screen and (min-width: 48em) {
    .headline-message {
	font-size: 600%;
    }
    .call-out {
	text-align:left;
    }
    .footer-message {
	font-size: 450%;
    }
}

@-webkit-keyframes blink {
  to { visibility: hidden; }
}
@-moz-keyframes blink {
  to { visibility: hidden; }
}
@-o-keyframes blink {
  to { visibility: hidden; }
}
@keyframes blink {
  to { visibility: hidden; }
}
